.donation-amounts {
	display: flex;
	align-items: stretch;
	gap: 16px;
}

.donation-amounts > * {
	flex: 1;
}

.wp-block-famehelsinki-donation-amounts .donation-amounts__other-label,
.wp-block-famehelsinki-donation-amounts .donation-amounts__minmax {
	font-size: 16px !important;
	padding-top: 5px;
}

.wp-block-famehelsinki-donation-amounts .rich-text {
	text-wrap: nowrap !important;
}

.donation-amounts__other__placeholder,
.donation-amounts .fame-form__label {
	padding: var(--form-element-padding);
	border: var(--form-element-border);

	&.fame-form__label--default {
		border-color: #db1414;
	}
}

.donation-amounts__other__placeholder {
	align-self: stretch;
	width: 10ch;
}
